<h3>Hey. This is a site about bird watching.</h3>

<img src="/img/bird.png" alt="bird" height="310" width="500">

<h5>See the <a href="/birds">list</a> or change my <a href="/settings">settings</a></h5>
