<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<title>The Busy Birder</title>
</head>

<body>

	<div id="content">
	<h1>The Busy Birder</h1>

	{{{body}}}

	</div>

</body>

</html>