<h3>Settings</h3>

<h5 style="	font-size: 20px;">Only show birds that have been seen this <span style="color: yellow"> many times:</span></h5>



<form method="GET" action="/birds">

	<input type="text" name="num">
	<button type="submit">Set It!</button>

</form>

<a href="/birds">(Back to Birds)</a>