<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<title>Give Me a Hand</title>
</head>

<body background="/img/background.jpg">

	{{{body}}}

</body>

</html>